/.vscode
/demo_stokes-iterative.py
/echangeur.jfif
/Ed_2_met_num.py
/images
/Livret_FR.pdf
/navier_stokes_cylinder.ogv
/Projet_EDP_Colleville.ipynb
/Projet_EDP_Colleville_2.ipynb
/Projet_EDP_Colleville_3.ipynb
/Projet_EDP_Colleville_4.ipynb
/Projet_EDP_Colleville_5.ipynb
/Projet_EDP_Colleville_VF.zip
/seance01_edotheo_FR_corrige.pdf
/seance02_edonum_FR_corrige.pdf
/seance03_modelisation_FR_corrige.pdf
/seance04_distributions_FR_corrige.pdf
/seance05_elltheo_FR_corrige.pdf
/seance06_fem1_FR_corrige.pdf
/seance06_fem1_pre_FR_corrige.pdf
/seance07_fem2_FR_corrige.pdf
/seance07_fem2_pre_FR_corrige.pdf
/seance08_ananum_FR_corrige.pdf
/seance09_df_FR_corrige.pdf
/seance09_df_pre_FR_corrige.pdf
/seance10_parab_FR_corrige.pdf
/S_ance_18_02 (2).pdf
/TD6_TD7_FR.ipynb
/TDLab 67 - solutions Python  Python solutions-20210225
/TDLab 67 - solutions Python  Python solutions-20210225.zip
/test_fen.py
/Test_navier.ipynb
/Test_Navier_evolue.ipynb
/Test_Navier_image_var_encours.ipynb